@model seozillabackend.Models.citation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
}
<div class="content-page">

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="title"><h4>Update Citation Details</h4></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">



                        <div class="update_row">
                            @using (Html.BeginForm())
                            {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.ID)

                                <div class="form-group hidden">
                                    @Html.LabelFor(model => model.plan, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.HiddenFor(model => model.plan , new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.plan)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.country, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.country)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.businessname, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.businessname, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.businessname)
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.websiteurl, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.websiteurl, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.websiteurl)
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.businessdescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.businessdescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.businessdescription)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.keywords, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.keywords, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.keywords)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.founder, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.founder, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.founder)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.address)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.phone)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.email)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.cloudurl, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @Html.TextBoxFor(model => model.cloudurl, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.cloudurl)
                                    </div>
                                </div>

                                <div class="form-group hidden">
                                    @Html.LabelFor(model => model.orderID, "orderID", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                        @*@Html.DropDownList("orderID", null, new { @class = "form-control" })*@
                                        @Html.HiddenFor(model => model.orderID, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.orderID)
                                    </div>
                                </div>


                                <div class="modal-footer"><a href="~/orders" class="back_to_list">Back to List</a><button type="submit" id="btn-update-order-row" class="btn btn-primary">Update</button></div>

                            </div>
                            }
                        </div>
                       

                    </div> <!-- container -->
                </div>
            </div> <!-- content -->

        </div>
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
