@model IEnumerable<seozillabackend.Models.citation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order.orderno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.websiteurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.founder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order.orderno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.websiteurl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.founder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
