@model List<seozillabackend.Models.blog>


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>blog</h4>
        <hr />
        @Html.ValidationSummary(true)

        @for (int i = 0; i < 2; i++) { 

        <div class="form-group">
            @Html.LabelFor(model => model[i].daordered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].daordered)                               
                @Html.ValidationMessageFor(model => model[i].daordered)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].wordcount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].wordcount)
                @Html.ValidationMessageFor(model => model[i].wordcount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].anchortext, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].anchortext)
                @Html.ValidationMessageFor(model => model[i].anchortext)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].targeturl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].targeturl)
                @Html.ValidationMessageFor(model => model[i].targeturl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].posttitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].posttitle)
                @Html.ValidationMessageFor(model => model[i].posttitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].postplacement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].postplacement)
                @Html.ValidationMessageFor(model => model[i].postplacement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model[i].da, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model[i].da)
                @Html.ValidationMessageFor(model => model[i].da)
            </div>
        </div>


        
        }


        @*<div class="form-group">
          
            <div class="col-md-10">*@
                @*@Html.DropDownList("orderID", String.Empty)*@
                @*<select id="[0].orderID" name="[0].orderID">
                    <option value=""></option>
                    <option value="1">SZ111</option>
                    <option value="2">SZ112</option>
                    <option value="3">SZ113</option>
                </select>
            </div>
        </div>*@

        @*<div class="form-group">

            <div class="col-md-10">*@
                @*@Html.DropDownList("orderID", String.Empty)*@
                @*<select id="[1].orderID" name="[1].orderID">
                    <option value=""></option>
                    <option value="1">SZ111</option>
                    <option value="2">SZ112</option>
                    <option value="3">SZ113</option>
                </select>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
