@model seozillabackend.Models.blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order.orderno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.orderno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daordered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daordered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wordcount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wordcount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anchortext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anchortext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targeturl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targeturl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posttitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posttitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.da)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.da)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
