@model seozillabackend.Models.blog

@{
    ViewBag.Title = "Edit Blogs ";
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
}

<div class="content-page">

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    

                        <div class="card-box">

                            <div class="title"><h4>Update Blog Details</h4></div>
                        </div>


                        <div class="update_row">
                            <div class="card-box">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                     
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(model => model.ID)


                                        <div class="form-group hidden">

                                            @Html.LabelFor(model => model.daordered, htmlAttributes: new { @class = "control-label col-md-2 " })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.daordered, new { @class="form-control" })
                                                @Html.ValidationMessageFor(model => model.daordered)
                                            </div>
                                        </div>



                                        <div class="form-group hidden">
                                            @Html.LabelFor(model => model.wordcount, htmlAttributes: new { @class = "control-label col-md-2 " })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.wordcount, new { @class="form-control"})
                                                @Html.ValidationMessageFor(model => model.wordcount)
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            @Html.LabelFor(model => model.anchortext, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.anchortext, new { @class="form-control"})
                                                @Html.ValidationMessageFor(model => model.anchortext)
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.targeturl, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.targeturl, new { @class="form-control"})
                                                @Html.ValidationMessageFor(model => model.targeturl)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.posttitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.posttitle, new { @class="form-control"})
                                                @Html.ValidationMessageFor(model => model.posttitle)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.postplacement, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.postplacement, new { @class="form-control"})
                                                @Html.ValidationMessageFor(model => model.postplacement)
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.da, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.TextBoxFor(model => model.da, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.da)
                                            </div>
                                        </div>

                                        <div class="form-group hidden">
                                            @Html.LabelFor(model => model.orderID, "orderID", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                @Html.DropDownList("orderID", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.orderID)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="modal-footer"><a href="~/orders" class="back_to_list">Back to List</a><button id="btn-update-order-row" class="btn btn-primary">Update</button></div>

                                }

                            </div>
                            
                        </div>

                    

                </div> 

    </div>
        </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>