@model seozillabackend.Models.zillaonpage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
}

<h2>Details</h2>

<div>
    <h4>zillaonpage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pageurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pageurl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primekeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primekeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondarykeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondarykeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetlocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetlocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
