@model seozillabackend.Models.order

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    @*<th>Edit Order</th>*@

                    <th>Country</th>
                    <th>Business Name</th>
                    <th>Website Url</th>
                    <th>Business Description</th>
                    <th>Keywords</th>
                    <th>Founder</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    @*<th></th>*@
                    @Html.Action("get_edit_button_col", "orders", new { id = Model.ID })
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var itemcitation in Model.citations)
                {
                    <tr>
                        @*<td><a href="update_blogger_outreach.html" class="btn btn-icon waves-effect waves-light btn-info m-b-5"><span class="fa fa-pencil"></span></a></td>*@

                        <td>@Html.DisplayFor(modelitem => itemcitation.country)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.businessname)</td>
                        <td><a href="#">@Html.DisplayFor(modelitem => itemcitation.websiteurl)</a></td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.businessdescription)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.keywords)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.founder)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.address)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.phone)</td>
                        <td>@Html.DisplayFor(modelitem => itemcitation.email)</td>
                        <td>@*@Html.DisplayFor(item => Model.status)*@
                            @Model.status.DisplayName()
                        </td>
                        @*<td>@Html.ActionLink("Edit", "Edit", "blogs", new { id = itemblog.order.service }, null)</td>*@
                        @Html.Action("get_edit_button", "orders", new { id = itemcitation.orderID })

                        

                        @*<td><a class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically.">@Html.DisplayFor(item=>Model.status)</a></td>*@
                    </tr>
                }


        </table>

    </div>
</div>

