@using seozillabackend.DAL
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SEOZILLA is a product to make SEO efficient">


    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>@ViewBag.Title | SEOZILLA - A SEO Buffet</title>

    @*Morris Chart CSS*@
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/modernizr.min.js"></script>




</head>


<body class="fixed-left">

    @*Begin page*@
    <div id="wrapper">

        @*Top Bar Start*@
        <div class="topbar">

            @*LOGO*@
            <div class="topbar-left">
                <a href="http://www.seozilla.co.uk/" class="logo"><img class="zmdi zmdi-layers" src="~/assets/images/logo-home.png" /></a>
                @*<a href="current.html" class="logo"><span>SEO<span>ZILLA</span></span><i class="zmdi zmdi-layers"></i></a>*@
            </div>


            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    @*Page title*@
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title"></h4>
                        </li>
                    </ul>


                </div> @*end container*@
            </div> @*end navbar*@
        </div>
        @*Top Bar End*@
        @*========== Left Sidebar Start ==========*@
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                @*User*@
                <div class="user-box">
                @*@{
                    if (User.Identity.IsAuthenticated)
                    {
                        usercontext db = new usercontext();
                        string firstname = db.users.Where(u => u.email == User.Identity.Name).FirstOrDefault().firstname;

                        <h5><a href="">Hi @firstname,</a></h5>
                    }
                    else
                    {
                    Response.Redirect("~/Authentication");
                    }
                    }*@
                    <h5><a href="">@User.Identity.Name</a> </h5>
                    

                </div>
                @*End User*@
                @*- Sidemenu*@
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Order</li>
                        <li>
                            <a href="~/orders/Add_new" class="waves-effect"><i class="fa fa-fw fa-plus-square"></i> <span>ADD NEW </span> </a>
                        </li>
                        <li>
                            <a href="~/orders" class="waves-effect"><i class="fa fa-fw fa-list-alt"></i> <span>CURRENT</span> </a>
                        </li>
                        <li>
                            <a href="~/orders/Archived" class="waves-effect"><i class="fa fa-fw fa-archive"></i> <span>ARCHIVED</span> </a>
                        </li>

                        <li>
                            <a href="~/orders/Cancelled" class="waves-effect"><i class="fa fa-fw fa-trash"></i><span>CANCELLED</span> </a>
                        </li>

                    </ul>

                    <ul>
                        <li class="text-muted menu-title">My Account</li>

                        <li>

                            @*@{

                                    usercontext db = new usercontext();
                                    int id = db.users.Where(u => u.email == User.Identity.Name).FirstOrDefault().ID;
                                    string url= "users/edit/"+id;

                                  <a href=@url class="waves-effect"><i class="fa fa-fw fa-user"></i><span>MY PROFILE</span></a>
                                }*@
                            @{

                                if (User.Identity.IsAuthenticated)
                                {
                                    usercontext db = new usercontext();
                                    int id = db.users.Where(u => u.email == User.Identity.Name).FirstOrDefault().ID;

                                    <a href="~/users/Edit/@id" class="waves-effect"><i class="fa fa-fw fa-user"></i><span>MY PROFILE</span></a>
                                }
                                else
                                {
                                    Response.Redirect("~/Authentication");
                                }


                            }
                        </li>

                        <li>

                            <a href="~/orders/invoice" class="waves-effect"><i class="fa fa-fw fa-file-text"></i> <span>VIEW INVOICES</span></a>

                        </li>

                        <li>
                            <a href="~/Authentication/LogOff">
                                <i class="fa fa-fw fa-power-off"></i> <span>LOG OUT</span>
                            </a>
                        </li>


                        <li>
                            <a href="http://www.seozilla.co.uk/contact-us/">
                                <i class="fa fa-fw fa-life-ring"></i><span> CONTACT SUPPORT</span>
                            </a>

                        </li>

                    </ul>





                    <div class="clearfix"></div>
                </div>
                @*Sidebar*@
                <div class="clearfix"></div>

            </div>

        </div>
        @*Left Sidebar End*@
        @RenderBody()
        <footer class="footer text-right">
            2018 - 2019 © SEOZILLA.
        </footer>


    </div>

   
    @RenderSection("Scripts", false)
    @*END wrapper*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        var resizefunc = [];

    </script>

    @*jQuery*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @*Morris Chart*@
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    @*Dashboard init*@
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    @*App js*@
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script>
        $(document).ready(function () {




            var originalContent = "Awaiting Payment"

            $('.label-danger').hover(function () {
                originalContent = $(this).html();

                if (originalContent != ' Archived' && originalContent != ' Payment Done' && originalContent != ' Task In Progress' && originalContent != ' Task Completed') {

                    $(this).html('<strong>Make Payment</strong>').css({ "background": "#10c469" });

                }
                else {

                    $(this).css({ "cursor": "initial" });
                    $(this).removeAttr("href");
                }
            }
                        , function () {
                            if ($(this).html() == "<strong>Make Payment</strong>") {

                                $(this).html(originalContent).css({ "background": "#ff5b5b", "cursor": "pointer" });

                            }

                        });






            var newcount = parseInt($(".count").text());

            var newdetails = $(".details").text();

            //alert(newcount);
            //alert(newdetails);
          
            if (newdetails == ' DA 10+ Zilla Guest Post' && newcount == 1) {

                $(".unit-cost").text(75);
                $(".total-cost").text(75);

            }
            if (newdetails == ' DA 20+ Zilla Guest Post' && newcount == 1) {

                $(".unit-cost").text(110);
                $(".total-cost").text(110);

            }
            if (newdetails == ' DA 30+ Zilla Guest Post' && newcount == 1) {

                $(".unit-cost").text(150);
                $(".total-cost").text(150);

            }
            if (newdetails == ' DA 40+ Zilla Guest Post' && newcount == 1) {

                $(".unit-cost").text(300);
                $(".total-cost").text(300);

            }

            if (newdetails == ' DA 10+ Zilla Guest Post' && newcount == 5) {

                $(".unit-cost").text(75);
                $(".total-cost").text(350);

            }
            if (newdetails == ' DA 20+ Zilla Guest Post' && newcount == 5) {

                $(".unit-cost").text(110);
                $(".total-cost").text(500);

            }
            if (newdetails == ' DA 30+ Zilla Guest Post' && newcount == 5) {

                $(".unit-cost").text(150);
                $(".total-cost").text(670);

            }
            if (newdetails == ' DA 40+ Zilla Guest Post' && newcount == 5) {

                $(".unit-cost").text(300);
                $(".total-cost").text(1350);

            }

            if (newdetails == ' DA 10+ Zilla Guest Post' && newcount == 10) {

                $(".unit-cost").text(75);
                $(".total-cost").text(650);
            }
            if (newdetails == ' DA 20+ Zilla Guest Post' && newcount == 10) {

                $(".unit-cost").text(110);
                $(".total-cost").text(980);
            }
            if (newdetails == ' DA 30+ Zilla Guest Post' && newcount == 10) {

                $(".unit-cost").text(150);
                $(".total-cost").text(1300);
            }
            if (newdetails == ' DA 40+ Zilla Guest Post' && newcount == 10) {

                $(".unit-cost").text(300);
                $(".total-cost").text(2600);
            }

            if (newdetails == 'Zilla Local Starter Zilla Local SEO' && newcount == 1) {

                $(".unit-cost").text(125);
                $(".total-cost").text(125);
            }
            if (newdetails == 'Zilla Local Small Zilla Local SEO' && newcount == 1) {

                $(".unit-cost").text(150);
                $(".total-cost").text(150);
            }
            if (newdetails == 'Zilla Local Medium Zilla Local SEO' && newcount == 1) {

                $(".unit-cost").text(260);
                $(".total-cost").text(260);
            }
            if (newdetails == 'Zilla Local Large Zilla Local SEO' && newcount == 1) {

                $(".unit-cost").text(400);
                $(".total-cost").text(400);
            }

            // Zilla X Invoice Price

           
            if (newdetails == ' Zilla X 750' && newcount == 1)
            {
                $(".unit-cost").text(750);
                $(".total-cost").text(750);
            }

            if (newdetails == ' Zilla X 1500' && newcount == 1) {
                $(".unit-cost").text(1500);
                $(".total-cost").text(1500);
            }

            if (newdetails == ' Zilla X 3000' && newcount == 1) {
                $(".unit-cost").text(3000);
                $(".total-cost").text(3000);
            }

            // Zilla Blog Price

            if (newdetails == ' 1 x 500 Words Article Zilla Blog' && newcount == 1) {
                $(".unit-cost").text(30);
                $(".total-cost").text(30);
            }

            if (newdetails == ' 1 x 1000 Words Article Zilla Blog' && newcount == 1) {
                $(".unit-cost").text(55);
                $(".total-cost").text(55);
            }

            if (newdetails == ' 1 x 1500 Words Article Zilla Blog' && newcount == 1) {
                $(".unit-cost").text(100);
                $(".total-cost").text(100);
            }

            if (newdetails == ' 1 x 2000 Words Article Zilla Blog' && newcount == 1) {
                $(".unit-cost").text(70);
                $(".total-cost").text(70);
            }


            if (newdetails == ' 2 x 500 Words Article Zilla Blog' && newcount == 2) {
                $(".unit-cost").text(50);
                $(".total-cost").text(50);
            }

            if (newdetails == ' 2 x 1000 Words Article Zilla Blog' && newcount == 2) {
                $(".unit-cost").text(100);
                $(".total-cost").text(100);
            }

            if (newdetails == ' 2 x 1500 Words Article Zilla Blog' && newcount == 2) {
                $(".unit-cost").text(255);
                $(".total-cost").text(255);
            }

            if (newdetails == ' 2 x 2000 Words Article Zilla Blog' && newcount == 2) {
                $(".unit-cost").text(360);
                $(".total-cost").text(360);
            }

            if (newdetails == ' 4 x 500 Words Article Zilla Blog' && newcount == 3) {
                $(".unit-cost").text(90);
                $(".total-cost").text(90);
            }

            if (newdetails == ' 4 x 1000 Words Article Zilla Blog' && newcount == 3) {
                $(".unit-cost").text(100);
                $(".total-cost").text(100);
            }

            if (newdetails == ' 4 x 1500 Words Article Zilla Blog' && newcount == 3) {
                $(".unit-cost").text(255);
                $(".total-cost").text(255);
            }

            if (newdetails == ' 4 x 2000 Words Article Zilla Blog' && newcount == 3) {
                $(".unit-cost").text(360);
                $(".total-cost").text(360);
            }

            if (newdetails == ' 8 x 500 Words Article Zilla Blog' && newcount == 4) {
                $(".unit-cost").text(180);
                $(".total-cost").text(180);
            }

            if (newdetails == ' 8 x 1000 Words Article Zilla Blog' && newcount == 4) {
                $(".unit-cost").text(360);
                $(".total-cost").text(360);
            }

            if (newdetails == ' 8 x 1500 Words Article Zilla Blog' && newcount == 4) {
                $(".unit-cost").text(480);
                $(".total-cost").text(480);
            }

            if (newdetails == ' 8 x 2000 Words Article Zilla Blog' && newcount == 4) {
                $(".unit-cost").text(720);
                $(".total-cost").text(720);
            }


            // Zilla Link Building Price

            if (newdetails == ' Bronze Zilla Link Building' && newcount == 5) {
                $(".unit-cost").text(350);
                $(".total-cost").text(350);
            }

            if (newdetails == ' Bronze Zilla Link Building' && newcount == 10) {
                $(".unit-cost").text(650);
                $(".total-cost").text(650);
            }

            if (newdetails == ' Silver Zilla Link Building' && newcount == 5) {
                $(".unit-cost").text(150);
                $(".total-cost").text(150);
            }

            if (newdetails == ' Silver Zilla Link Building' && newcount == 10) {
                $(".unit-cost").text(260);
                $(".total-cost").text(260);
            }


            if (newdetails == ' Gold Zilla Link Building' && newcount == 5) {
                $(".unit-cost").text(200);
                $(".total-cost").text(200);
            }
             
            if (newdetails == ' Gold Zilla Link Building' && newcount == 10) {
                $(".unit-cost").text(375);
                $(".total-cost").text(375);
            }

            // Zilla On Page Price

            if (newdetails == ' 2–4 Pages Zilla On Page' && newcount == 2) {
                $(".unit-cost").text(80);
                $(".total-cost").text(160);
            }

            if (newdetails == ' 2–4 Pages Zilla On Page' && newcount == 3) {
                $(".unit-cost").text(80);
                $(".total-cost").text(240);
            }

            if (newdetails == ' 2–4 Pages Zilla On Page' && newcount == 4) {
                $(".unit-cost").text(80);
                $(".total-cost").text(320);
            }

            if (newdetails == ' 5–9 Pages Zilla On Page' && newcount == 5) {
                $(".unit-cost").text(75);
                $(".total-cost").text(375);
            }


            if (newdetails == ' 5–9 Pages Zilla On Page' && newcount == 6) {
                $(".unit-cost").text(75);
                $(".total-cost").text(450);
            }

            if (newdetails == ' 5–9 Pages Zilla On Page' && newcount == 7) {
                $(".unit-cost").text(75);
                $(".total-cost").text(525);
            }

            if (newdetails == ' 5–9 Pages Zilla On Page' && newcount == 8) {
                $(".unit-cost").text(75);
                $(".total-cost").text(600);
            }

            if (newdetails == ' 5–9 Pages Zilla On Page' && newcount == 9) {
                $(".unit-cost").text(75);
                $(".total-cost").text(675);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 10) {
                $(".unit-cost").text(70);
                $(".total-cost").text(700);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 11) {
                $(".unit-cost").text(70);
                $(".total-cost").text(770);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 12) {
                $(".unit-cost").text(70);
                $(".total-cost").text(840);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 13) {
                $(".unit-cost").text(70);
                $(".total-cost").text(910);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 14) {
                $(".unit-cost").text(70);
                $(".total-cost").text(980);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 15) {
                $(".unit-cost").text(70);
                $(".total-cost").text(1050);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 16) {
                $(".unit-cost").text(70);
                $(".total-cost").text(1120);
            }

            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 17) {
                $(".unit-cost").text(70);
                $(".total-cost").text(1190);
            }
            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 18) {
                $(".unit-cost").text(70);
                $(".total-cost").text(1260);
            }
            if (newdetails == ' 10–19 Pages Zilla On Page' && newcount == 19) {
                $(".unit-cost").text(70);
                $(".total-cost").text(1330);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 20) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1300);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 21) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1365);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 22) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1430);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 23) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1495);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 24) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1560);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 25) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1625);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 26) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1690);
            }

            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 27) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1755);
            }
            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 28) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1820);
            }
            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 29) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1885);
            }
            if (newdetails == ' 20–30 Pages Zilla On Page' && newcount == 30) {
                $(".unit-cost").text(65);
                $(".total-cost").text(1950);
            }


            //var newunit = parseInt($(".unit-cost").text());

            //$(".total-cost").text(newcount * newunit);

            var total = $(".total-cost").text();

            $(".total-cost-usd").text((total));


            $(".label-url").click(function () {

                var contant = $(this).html();

                var id = $("#ID").text();

                @*var url = '@Url.Action("makepayment", "orders" , + id)';*@

                //alert(id);

              //$(".label-url").attr("href", url);

                @*window.location.href = '@Url.Action("makepayment", "orders")'*@

                if (contant != ' Payment Done' && contant !=' Archived')
                {
                    window.location.href = '/orders/makepayment/' + id;
                }

                

            });

        });

    </script>

</body>


</html>