@model seozillabackend.Models.order
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Words</th>
                    <th>Quantity</th>
                    <th>Title</th>
                    <th>Website</th>
                    <th>Brief</th>
                    <th>Document Url</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var itemzillablog in Model.zillablogs)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.words)</td>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.quantity)</td>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.title)</td>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.website)</td>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.brief)</td>
                        <td>@Html.DisplayFor(modelitem => itemzillablog.document_url)</td>
                        <td class="fixwidth">
                            <a href="" class="label label-danger" title="This order will not be processed until payment has been made. Should payment not be made within 32 days your order will be cancelled automatically."> @Model.status.DisplayName()</a>
                        </td>
                        <td>@Html.ActionLink("Edit", "Edit", "zillablogs", new { id = itemzillablog.ID }, null)</td>



                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
