
@model seozillabackend.Models.user

@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>

</head>

<body>

    <div>

        @using (Html.BeginForm("Index", "Authentication", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.LabelFor(c => c.email)

            @Html.TextBoxFor(x => x.email)
            
            



            <br />

            @Html.LabelFor(c => c.password)

            @Html.PasswordFor(x => x.password)
            
           

            <br />


            <input type="submit" name="BtnSubmit" value="Sign In" />

        }

    </div>

</body>

</html>
