
@model IEnumerable<seozillabackend.Models.order>

@{
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
    ViewBag.Title="Invoice";
}


<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>INVOICES</h3>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                        

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                  
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.orderno)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.service)
                                                    </th>
                                                    
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.orderdate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.status)
                                                    </th>
                                                   
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="invoices-result">
                                            
                                                @foreach (var item in Model)
                                                {
                                                    
                                                    <tr>
                                                    
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.orderno)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.service)
                                                        </td>
                                                      
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.orderdate)
                                                        </td>
                                                        <td class="fixwidth">
                                                            <a href="~/orders/makepayment/@item.ID" class="label label-danger"> @item.status.DisplayName()</a>
                                                        </td>
                                                    <td>
                                                        @Html.ActionLink("View", "Invoices", new { id = item.ID })
                                                    </td>
                                                        @*<td class="hidden">@item.blogs.Count</td>
                                                        <td class="hidden">@item.citations.Count</td>*@
                                                        
                                                    </tr>
                                                }
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container -->
    </div> <!-- content -->
  </div>