@model seozillabackend.Models.zillax

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>zillax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.keyword1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyword1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keyword2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyword2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.keyword3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyword3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitor2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.competitor3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competitor3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.targetlocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetlocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherinfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherinfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
