@model seozillabackend.Models.zillablog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_layout_with_sidebar.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>zillablog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order.orderno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order.orderno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.words)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.words)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
